<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>2G Thuweds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/reset.css?%ASSET_VERSION%" />
    <link rel="stylesheet" href="../../css/main.css?%ASSET_VERSION%" />
  </head>
  <body>
    <div id="container">
      <div id="middle">
        <header id="header">
          %MENU%
        </header>
        <main id="content">
          <h1>2G Thuweds</h1>
          <table>
            <thead>
              <tr>
                <th>Code</th>
                <th>Female</th>
                <th>Male</th>
              </tr>
            </thead>
            <tbody>
              %REPLACE%
            </tbody>
          </table>
        </main>
        %FOOTER%
      </div>
    </div>
  </body>
</html>
