<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>2G Thuweds</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="container">
      <div id="middle">
        <header id="header">
          <nav id="menu">
            <a href="./thuweds.html">2G Thuweds</a>
            <a href="./missing.html">Missing Thuwed Pairs</a>
            <a href="./salts.html">2G Salts</a>
          </nav>
        </header>
        <main id="content">
          <h1>2G Thuweds</h1>
          <table>
            <thead>
              <tr>
                <th>Code</th>
                <th>Female</th>
                <th>Male</th>
                <th>Gender</th>
              </tr>
            </thead>
            <tbody>
              %REPLACE%
            </tbody>
          </table>
        </main>
      </div>
    </div>
  </body>
</html>
