<h1 class="central">Toolbox</h1>
<article id="hatchery">
  <h2><a href="/dc/hatchery/">Garden of Eden</a></h2>
  <p>
    Garden of Eden is a new (and very much work-in-progress) hatchery that aims
    to be mobile-friendly, secure and accessible.
  </p>
  <ul>
    <li>
      Authorisation: Unlike most hatcheries, the Garden ensures nobody but you
      can add your dragons as the only way to add them is by logging in with
      Dragon Cave.
    </li>
    <li>
      Modern: The most recent hatchery launched
      <strong>over a decade ago</strong>. There's been tons of changes online
      since then, and Garden of Eden takes advantage of that.
    </li>
    <li>Mobile-friendly and accessible.</li>
    <li>So many settings!</li>
    <li>Cute illustrations of mints everywhere.</li>
    <li>
      Choose from a lovely mint green or hide in the dark with a comfortable
      dark mode.
    </li>
    <li>
      Compete for clicks in weekly rankings to earn yourself 1 of 10 coloured
      mint badges.
    </li>
    <li>A dynamic scroll stat signature banner.</li>
    <li>
      Trade your clicks for flairs in Matthias' shop: Display little flowers
      alongside your username.
    </li>
  </ul>
</article>

<article id="lineage-builder">
  <h2><a href="/dc/lineage-builder/">Lineage Builder</a></h2>
  <p>Lineage builder allows users to preview dragon lineages.</p>
  <ul>
    <li>Replicates how lineages would display on DC.</li>
    <li>
      Clone and paste entire ancestors, switch parent genders, remove/add
      ancestors and descendants.
    </li>
    <li>
      Codes and names are validated to ensure they are legal on DC (but will
      not be checked for availability.) A game changer for you lyrical lineage
      builders out there.
    </li>
    <li>
      Share public links to your created lineages.
      <a
        href="/dc/lineage-builder/view/b942eb0fa7b0c2b1b261bbb7297dc76ba2b56abc"
        >Example</a
      >! You can even import them into the editor.
    </li>
    <li>
      Partial support for time-based sprites and spriter alts (where permission
      has been granted).
    </li>
    <li>Restrict the breeds shown by using the filters.</li>
    <li>
      Preview how your lineage appears on different skins such as default,
      portal 2 and mobile dark.
    </li>
    <li>
      Insert your own lineage tiles and preview them as if they were on DC,
      while never uploading them publicly.
    </li>
    <li>Create checker lineages easily using the Checker Generator.</li>
    <li>Change multiple tiles at once using the mass-selection tools.</li>
    <li>Mobile-friendly.</li>
    <li>Check your dragons for inbreeding using the inbred checker.</li>
    <li>Odeen approves of it, which should say it all really.</li>
  </ul>
</article>

<article id="auto-refresher">
  <h2><a href="/dc/auto-refresher/">Auto-refresher (FART)</a></h2>
  <p>
    Fast Auto Refreshing Tool, aka FART (yes, really!). Fart is an
    auto-refreshing tool.
  </p>
  <ul>
    <li>Refresh multiple dragons in a simple, control-panel style layout.</li>
    <li>
      Control various things, such as refresh speed and views per refresh.
    </li>
    <li>Mobile-friendly.</li>
    <li>
      State persistence. Your settings won't be lost even if you refresh.
    </li>
    <li>Estimated views per minute.</li>
    <li>
      Leave FART on in the background and Smart Removal will remove dragons as
      they hatch or grow up.
    </li>
    <li>
      Prepare in advance by creating a share link with the dragons and exact
      settings to come back to later.
    </li>
    <li>
      Input the dragon's tick down minutes and seconds, and FART will calculate
      the rest of the TOD by giving you a countdown and your local time.
    </li>
  </ul>
</article>

<article id="calendar">
  <h2><a href="/dc/calendar/">Calendar</a></h2>
  <p>
    An experimental calendar that shows breed availabilities in times local to
    you. Times are fully localised to your browser language and you can pick
    the timezone you want them shown in.
  </p>
  <ul>
    <li>All dates and times will be shown in the format of your browser.</li>
    <li>Choose your own timezone or a different one.</li>
    <li>
      Breeds display a helpful tooltip indicating what biome they'll be
      available in.
    </li>
  </ul>
</article>
